extends ../layout/layout

block content
  link(href="/upload/upload.css", rel="stylesheet")
  link(rel="stylesheet", href="/lib/simplemde/dist/simplemde.min.css")
  script(src="/lib/simplemde/dist/simplemde.min.js")
  form(method="POST", action="/admin/upload/new")
    input(type='hidden', name='upload[_id]', value=article._id)
    .form-group
      label(for='title')  文章标题 ：
      input(type="text", name="upload[title]", id="title" value=article.title, required=true)
    .form-group
      label(for='categories')  文章标签 ：
      if article.categories
        input(type="text", name="upload[categories]", id="categories" value=article.categories.join(" ") )
      else
        input(type="text", name="upload[categories]", id="categories" value=article.categories, required=true)     
    .form-group
      label(for='createAt')  创建时间 ：
      input(type="date" name="upload[createAt]", id="createAt")
    .form-group
      label(for='updateAt')  修改时间 ：
      input(type="date" name="upload[updateAt]", id="updateAt")
    .form-group
      label(for='abstract')  文章摘要 ：     
      textarea(name="upload[abstract]", id="abstract", required=true ) #{abstract.abstract}
    .form-group
      label(for='link')  文章链接 ：
      input(type="text", name="upload[link]", id="link" value=article.link, required=true)
    .form-group
      label(for='article')  文章正文 ：  
      .mde   
        textarea#mde(name="upload[content]" data-value=article.md)
      //- textarea(name="article", id="article")
    .form-group
      button(type='submit')  录入
  script(src='/js/upload.js')