extends ../layout/layout

block adminjs
  script(src="/js/admin.js" defer)

block uniqueStyle
  style
    include ../../www/static/css/list-combo.css

block commonStyle
  - if (!visited)
    style#common_css
      include ../../www/static/css/common-combo.css
    script ls('common_css', '#{tag}');
  - else
    script ll('common_css', false);

block content
  #mask
    #mask-content
      i.mask-tip 是否确认删掉文章？
      .mask-click
        i.mask-btn#mask-confirm 确认
        i.mask-btn#mask-cancel 取消
  button 
    a(href="/admin/upload") 创建新文章
  .container
    table
      thead
        tr
          th 文章标题
          th 文章标签
          th 创建时间
          th 修改时间
          th 查看
          th 修改
          th 删除
      tbody
        each article in articles
          tr(id='item-id-'+article._id)
            td #{article.title}
            td #{article.categories}
            td #{moment(article.meta.createAt).format('YYYY-MM-DD')}
            td #{moment(article.meta.updateAt).format('YYYY-MM-DD')}
            td: a(target='_blank', href= article.link) 查看
            td: a(target='_blank', href='/admin/update/'+article._id) 修改
            td
              button.del(data-id= article._id) 删除