extends ../layout/layout

block uniqueStyle
  style
    include ../../www/static/css/archives-combo.css

block commonStyle
  - if (!visited)
    style#common_css
      include ../../www/static/css/common-combo.css
    script ls('common_css', 0);
  - else
    script ll('common_css', 0);

block content
  #toc
    header 年份列表
    ul
      - for (var i = articles.length - 1; i >=0 ; i--)
        - for (var j in articles[i])
          li
            a(href="#toc-"+j) #{j} 年
  h1 归档
  p 
    | 本博客系统是自己搭建的博客系统，后台系统用的是 
    a(href="http://expressjs.com/") Express JS
    | ，前端的样式参考了
    a(href="https://imququ.com/") 屈屈老师的博客
    | 。除了文章展示页面以外，还有后台页面管理系统，文章统计，搜索等辅助功能。之前使用 
    a(href="https://hexo.io/") Hexo
    |  作为博客系统，上面保留一些原来的博客文章，有一些不重要的就没有迁移过来了。
  p
    | 归档部分按照时间顺序展示文章，文章质量良莠不齐，既有想与大家分享的个人心得，也有平时学习未整理好的总结笔记，如果大家想选择性阅读一些文章，可以点击链接来 
    a(href="/post/series") 专题
    |  查看。希望自己的在这个浮躁的时代坚持阅读与写作，也非常感谢大家的支持与反馈。
  - for (var i = articles.length - 1; i >=0 ; i--)
    - for (var j in articles[i])
      div(name="toc-"+j)
        - for (var k = articles[i][j].length - 1; k >= 0; k--)
          - for (var l in articles[i][j][k])
            h2 #{j} 年 #{l} 月
            ul
              - articles[i][j][k][l].forEach(function(article) {
                li 
                  a(href=article.link) #{article.title}
                  .time (#{moment(article.date).format('MMM DD, YYYY')})
              - })
    