extends ../layout/layout

block style
  style
    include ../../www/static/css/article-combo.css

block content
  | !{content}
  .eof --EOF--
  .post-info
    | 发表于
    span.time #{moment(article.meta.createAt).format('YYYY-MM-DD')}
    | 并被添加「
    span
      each i in article.categories
        span.tag 
          a(href='') #{i}
    |」标签，最后修改于
    span.time #{moment(article.meta.updateAt).format('YYYY-MM-DD')}
    | 。
  h3.series-info 专题「#{article.series[0]}」相关的其他文章
    a(href='') »
  ul.series-ul
    each i in series.articles
      li 
        a(href= i.link) #{i.title}
        span.time (#{moment(i.meta.createAt).format('MMM DD, YYYY')})
  
block comment
  section#comments
    h1 Comments
    #disqus_thread
    script(src="/js/comment.js")
    noscript Please enable JavaScript to view the 
      a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.