extends ../layout/layout

mixin abstract(title, sub, date, comments, more)
  article.post
    .meta
      .date= date
      .comments= comments
    h1.title= title
    .post-content
      p.sub= sub
      p
        a(href='')= more

block content
  link(href="../home/home.css", rel="stylesheet")
  each abstract in abstracts
    +abstract(abstract.title, abstract.sub, abstract.date, abstract.comments, abstract.more)