extends ../layout/layout

block uniqueStyle
  style
    include ../../www/static/css/series-combo.css

block googleAnalystic
  - if (!gav)
    script#analytics
      include ../../www/static/js/analytics.js
    script ls('analytics', '#{gavTag}');
  - else
    script ll('analytics', true)

block commonStyle
  - if (!visited)
    style#common_css
      include ../../www/static/css/common-combo.css
    script ls('common_css', '#{tag}');
  - else
    script ll('common_css', false);

block content
  #toc
    header 年份列表
    ul
      - for (var i in series)
        li 
          a(href='#toc-'+i) #{series[i].name}
  h1 专题
  p 
    | 这里是博客的专题部分，将笔者平时的总结文章按照专题进行如下的区分。但是专题部分中收录的并不是所有的文章，如果想查看所有的文章，可以点击 
    a(href='/archives') 归档
    |  按照时间顺序浏览。
  - for (var i in series)
    h2(name='toc-'+i) #{series[i].name}
    ul
      - for (var j = 0; j < series[i].articles.length; j++)
        li 
          a(href=series[i].articles[j].link) #{series[i].articles[j].title}
          .time (#{moment(series[i].articles[j].meta.createAt).format('MMM DD, YYYY')})